<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" routerLink="home" href="#">
        <img src="/public/assets/HighResV2.png" width="30" height="30" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="contract" routerLinkActive="active">Contrats <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="contractService.updateContracts()">
                    <img src="/node_modules/open-iconic/svg/loop-circular.svg" alt="icon name">
                </a>
            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">

                    <input #searchTerm id="searchTerm" type="text" class="form-control mr-sm-2" placeholder="Nom ou prénom">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0" (click)="search(searchTerm.value)">Rechercher contrat</button>
                </form>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">PLOUF</a>
                    <a class="dropdown-item" href="#">Workpackage</a>
                    <a class="dropdown-item" href="#">Action with Workpackages</a>
                    <a class="dropdown-item" href="#">Check attributes</a>
                </div>
            </li>
            <li class="nav-item" *ngIf="!authService.isAuthenticated()">
                <a class="nav-link" (click)="authService.login()">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf="authService.isAuthenticated()">
                <a class="nav-link" (click)="authService.logout()">Logout <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet class="row mainApp container">

</router-outlet>