.list-workpackage {
    padding: 0;
    overflow-y: auto;
}

.workpackages {
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.overflow {
    overflow-y: auto;
}

.workpackage-detail {
    margin: 0px;
    padding: 0px;
}

.statusBox {
    max-height: 50%;
}