<div class="row workpackages">
    <div class="col-md-3 list-workpackage">
        <ul class="list-group">
            <li class="list-group-item container " *ngFor="let workpackage of contract.workpackages" id="wp-{{workpackage.id}}" (click)="selectWorkPackage(workpackage)" [ngClass]="{'active': selectedWorkpackage == workpackage}">
                <div class="input-group success mb-2 mb-sm-0">
                    <div [contractStatus]="workpackage" class="input-group-addon"><img src="/node_modules/open-iconic/svg/check.svg" alt="icon name">
                    </div>
                    <button type="button" class="form-control">{{workpackage.name}} </button>
                </div>

            </li>
        </ul>
    </div>
    <div class="col-md-9 row overflow workpackage-detail" *ngIf="selectedWorkpackage">
        <div class="col-md-12 statusBox">
            <show-status [workpackage]="selectedWorkpackage"></show-status>
            <add-status-form [workpackage]="selectedWorkpackage"></add-status-form>
        </div>
        <div class="col-md-8">
            <show-answers [answers]="contract.questionsAnswers" [fieldsToShow]="selectedWorkpackage.needed_fields"></show-answers>
        </div>
        <div class="col-md-4">
            <show-actions [workpackage]="selectedWorkpackage"></show-actions>
        </div>
    </div>


</div>
<contract-detail [contract]="selectedContract"></contract-detail>