<div>
    <h2>Administration</h2>
    <div>
        <div>
            <a href="https://smartbusiness.postfinance.ch/?rda=login" target="_blank">SmartBusiness</a> -- Gestion des factures BVR
        </div>
    </div>
    <div>
        <div>
            <a href="https://www.postfinance.ch/ap/ba/fp/html/e-finance/home?login&WT.ac=_le_home_LoginHeaderE-Finance" target="_blank">PostFinance</a> -- Gestion du compte postal
        </div>
    </div>

    <div>
        <a href="https://mail.zoho.com/zm/#mail/folder/inbox" target="_blank">Mail Zoho @onvousdemenage.ch</a>
    </div>
    <div>
        <a href="https://www.kickstarter.com/" target="_blank">KickStarter</a> - bonjour@onvoudemenage.ch
    </div>
    <div>
        <a href="https://secure.vistaprint.ch/vp/ns/sign_in.aspx?xnav=top&noguest=1" target="_blank">Vistaprint</a> - bonjour@onvoudemenage.ch
    </div>
    <div>
        <a href="https://business.google.com/b/106786088978881286949/dashboard/l/17399768989209058819?hl=de&ppsrc=GMBS0&gmbsrc=ch-fr-ha-se-z-gmb-s-z-h~bk-46170212063-c&utm_campaign=ch-fr-ha-se-z-gmb-s-z-h~bk-46170212063-c&utm_medium=ha&utm_source=gmb" target="_blank">Google My Business</a>        Pour configurer ce qu'on voit sur l'entreprise à droite dans google quand on tape "on vous déménage" dans la recherche - bonjour@onvoudemenage.ch
    </div>
    <div>
        <a href="https://adwords.google.com/aw/overview?ocid=147889933&__c=4334118117&authuser=0&__u=3371461197" target="_blank">Google AdWords</a> Outil d'achat de mot clé pour la recherche google - bonjour@onvoudemenage.ch
    </div>
    <div>
        <a href="https://login.mailchimp.com" target="_blank">MailChimp</a> Outil d'envoi des emails automatique -- OnVousDemenage
    </div>
    <div>
        <a href="https://admin.typeform.com/login/" target="_blank">Typeform</a> Outils de gestion du formulaire -- bonjour@onvousdemenage.ch
    </div>
    <div>
        <a href="/#/pdf">Template</a>
    </div>
    <h2>Dashboard</h2>
    <div>
        <a href="https://datastudio.google.com/org//reporting/0B-EzZrEgW-uXSFB4N1VMTmk1UTQ/page/b1AD" target="_blank">Dashboard Analytics</a>
    </div>

</div>