/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    overflow: hidden;
}

.full-div {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 52px;
    background-color: #DDD;
}

.waiting-box {
    width: 25%;
    text-align: center;
    vertical-align: middle;
}