<div *ngIf="contract" class="contract">
    <contract-basic-info [basic-info]="contract.basicInfo" class=""></contract-basic-info>

    <contract-workpackage-list class="workpackage-list" [contract]="contract"></contract-workpackage-list>
</div>