contract-workpackage-list {
    display: block;
    height: 100%;
    position: relative;
    top: -145px;
    padding-top: 145px;
    margin-left: 0px;
    margin-right: 0px;
}

.contract {
    height: 95%;
}