<div class="full-div" *ngIf="loading">
    <div class="waiting-box">
        {{loadingMessage}}
        <div class="progress">
            <div class="progress-bar progress-bar-striped full-div" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">45% Complete</span>
            </div>
        </div>
    </div>
</div>
<div class="contract-list row">
    <div class="overflow col-md-4">
        <ul class="list-group">
            <li class="list-group-item container" *ngFor="let contract of contracts | orderBy:'test'" (click)="onSelect(contract)" [ngClass]="{'active': selectedContract == contract}">
                <div class="row">
                    <div class="col-md-8 link">
                        <div class="first-line">{{contract.basicInfo.name }} {{contract.basicInfo.firstname }}</div>
                        <div class="second-line">Date de déménagement : {{contract.basicInfo.movingDate | date:'dd.MM.yyyy' }}</div>
                        <div class="third-line">Remplie le : {{contract.basicInfo.submitDate | date:'dd.MM.yyyy HH:mm' }}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" [ngStyle]="getSize(contract.basicInfo.status, contract.basicInfo.status.workpackageDone)">
                                <span class="sr-only">{{(contract.basicInfo.status.workpackageDone/(contract.basicInfo.status.workpackageDone+contract.basicInfo.status.workpackageTodo+contract.basicInfo.status.workpackageInProgress))*100}}% Complete (success)</span>
                            </div>
                            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" [ngStyle]="getSize(contract.basicInfo.status, contract.basicInfo.status.workpackageInProgress)">
                                <span class="sr-only">20% Complete (warning)</span>
                            </div>
                            <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="getSize(contract.basicInfo.status, contract.basicInfo.status.workpackageTodo)">
                                <span class="sr-only">10% Complete (danger)</span>
                            </div>
                        </div>
                        <span class="badge badge-primary">{{(contract.basicInfo.status.workpackageDone+contract.basicInfo.status.workpackageInProgress+contract.basicInfo.status.workpackageTodo)}}</span>
                        <span class="badge badge-success">{{contract.basicInfo.status.workpackageDone}}</span>
                        <span class="badge badge-warning">{{contract.basicInfo.status.workpackageInProgress}}</span>
                        <span class="badge badge-danger"> {{contract.basicInfo.status.workpackageTodo}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <contract-detail class="contract-detail col-md-8" [contract]="selectedContract"></contract-detail>
</div>