contract-list {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.contract-detail {
    display: block;
}

.contract-list {
    height: 100%;
    width: 100%;
    padding-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    top: 52px;
    padding-bottom: 25px;
}

.link {
    cursor: pointer;
}

.contract-detail {
    height: 100%;
    width: auto;
    padding-top: 0px;
    margin-bottom: 0px;
}

.contract-list .first-line {
    font-weight: bold;
}

.contract-list .second-line {
    font-size: 0.8em;
}

.contract-list .third-line {
    font-size: 0.8em;
}

.overflow {
    max-height: 95%;
    overflow-y: auto;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.list-contract-item {
    display: block;
    margin: 3px;
    padding: 2px;
    border: solid 2px blue;
}