<div class="card">
    <div class="basic-info-box card-body">
        <div class="row">
            <div class="col-md-8">
                <span>{{basicInfo.name}} {{basicInfo.firstname}}</span>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-info btn-sm align-right" disabled>Modifier</button>
                <button type="button" class="btn btn-danger btn-sm align-right" disabled>Archiver</button>
            </div>

            <div class="col-md-4">
                <div>{{basicInfo.phoneNumber}} </div>
                <div>{{basicInfo.birthDate | date:'dd/MM/yyyy'}} </div>
                <div>{{basicInfo.contactMethod}}</div>

            </div>
            <div class="col-md-3">
                <div> {{basicInfo.street}}</div>
                <div> {{basicInfo.city}} </div>
                <div> {{basicInfo.floor}} </div>
            </div>
            <div class="col-md-2">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>

                <div>{{basicInfo.movingDate | date:'dd/MM/yyyy'}}</div>
            </div>
            <div class="col-md-3">
                <div> {{basicInfo.newStreet}} </div>
                <div> {{basicInfo.newCity}} </div>
                <div> {{basicInfo.newFloor}} </div>

            </div>
        </div>
    </div>
</div>